html, body {
    height: 100%;
    background-color: rgb(8, 9, 11);
    font-family: 'Andale Mono';
    font-weight: 100;
    /*background-image: url('http://img05.deviantart.net/1eba/i/2011/150/f/e/graphite_gradient_by_msketchley-d3hlq1x.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.fathomLogo {
    font-size: 7.5vmin;
}

#whoweare {
    font-size: 14px;
}

.editorstyle {
    text-align: left !important;
}

.logo {
    margin-top: 125px;
    font-size: 11vmin;
    color: #fff;
    font-family: 'Cutive Mono', serif;
}

ol {
    color: #000;
}

ol {
   counter-reset: item
 }

li {
  display: block
}

li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}

.comingSoon {
    color: #DAA520;
}

.slogan {
    font-size: 3vmin;
    color: #fff;
    letter-spacing: 5px;
    /*text-align: justify;*/
}

.slogan:hover {
    color: #DAA520
}

.listSpan {
    padding-left: 5px;
}

.listContainer {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-md-12, .col-sm-4 {
    color: #fff;
}

.headline {
    color: #DAA520;
    font-size: 5vmin;
}

.name {
    color: #fff;
}

.rotate {
    color: #fff;
}

.role {
    color: #DAA520;
    font-size: 4vmin;
}

.hide {
    display: none;
}

.col-md-12 {
    margin-top: 120px;
}

.meet {
    width: 100%;
}

.homeImg {
    background-image: url("http://i.imgur.com/4u34jIy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 50%;
    float: right;
}

button {
    background-color: #DAA520;
    color: #fff;
    font-size: 20px;
}

#btnRows {
    margin-top: 70px;
}

#mailchimp {
    margin-top: 50px;
}

#contentContainer {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mission {
    margin-top: 100px;
}

#whoBtn, #missionBtn, #teamBtn, #formBtn, #callBtn {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20 0px;
    width: 250px;
    border: none;
    border-radius: 50%;
    margin: 20px;
    transition: all 1s ease;
}

#homeBtn {
    height: 80px;
    width: 80px;
    font-size: 3vmin;
    border: none;
    border-radius: 50%;
    margin: 20px;
    transition: all 1s ease;
}

.updates {
    font-size: 3.25vmin;
}

.wordContent {
    font-size: 3.75vmin;
    margin: 10px 10px;
    text-align: left;
}

.fathomColors {
    color: #DAA520;
    font-weight: bold;
}
.callFathomColors {
  color: maroon;
  font-weight: bold;
}
.seasonalColors {
    color: mediumspringgreen;
    font-weight: bold;
}
.callSeasonalColors {
    color: indigo;
    font-weight: bold;
}

.inputemail {
    width: 100%;
}

#mc_embed_signup {
    background: rgba(255, 255, 255, 0);
    color: #fff;
}

input#mce-EMAIL.required.email {
    margin: 10px 10px;
    /*color: #fff;*/
}

input {
    margin: 5px;
    width: 370px;
    color: #000;
}

#mc-embedded-subscribe {
    color: black;
    border: none;
    transition: all 1s ease;
    font-size: 15px;
    display: inline-block !important;
}

#formBtn {
    margin-top: -300px;
    background-color: rgba(15, 2, 28, 0);
    font-size: 3vmin;
}

#callBtn {
  margin-left: 30px;
  margin-top: -125px;
  position: fixed;
  background-color: rgba(15,2,28,0)
}

#teamBtn {
    background-color: rgba(57, 48, 74, 0);
    margin-top: 50px;
    font-size: 3vmin;
}

#missionBtn {
    background-color: rgba(33, 24, 50, 0);
    font-size: 3vmin;
}

#whoBtn {
    background-color: rgba(110, 13, 193, 0);
    margin-top: 200px;
    font-size: 4.5vmin;
    color: #DAA520;
}

.logoMove {
    float: right;
    padding-right: 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    input {
        width: 300px;
    }
    .logo {
        margin-top: 10px;
    }
    .home {
        text-align: center;
        margin-top: 50px;
    }
    .logoMove {
        float: none;
        text-align: center;
        margin-left: 30px;
    }
    #btnRows {
        margin-top: -150px;
        font-size: 5vmin;
    }
    #whoBtn {
        font-size: 50px;
    }
    #missionBtn, #teamBtn, #formBtn, #callBtn {
        font-size: 5vmin;
    }
}


/*iphone 5*/


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    #whoBtn {
        font-size: 5.3vmin;
    }
    #missionBtn, #teamBtn, #formBtn, #callBtn {
        font-size: 5vmin;
    }
}


/* ----------- iPhone 6 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    #missionBtn, #teamBtn, #formBtn, #callBtn {
        font-size: 5vmin;
    }
    #whoBtn {
        font-size: 5.3vmin;
    }
}


/* ----------- iPhone 6+ ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    #missionBtn, #teamBtn, #formBtn, #callBtn {
        font-size: 5vmin;
    }
    #whoBtn {
        font-size: 5.3vmin;
    }
    .home {
        margin-top: 60px;
    }
}


/* ----------- iPad 3 and 4 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    #missionBtn, #teamBtn, #formBtn, #callBtn {
        margin-top: 100px;
        font-size: 3.5vmin;
    }
    #whoBtn {
        margin-top: 100px;
        font-size: 4vmin;
    }
}

#mc_embed_signup form {
    text-align: center !important;
    padding: 10px 0 10px 0 !important;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20vw 0 20vw;
  width: 60vw;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}
.increaseFont {
  font-size: 1.2em;
}
@media (max-width: 767px){
  .flexCenter {
    width: 80vw;
    text-align: left;
    margin: 20px 10vw 0 10vw;
  }
  #callBtn {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20 0px;
    width: 250px;
    border: none;
    border-radius: 50%;
    margin-top: -150px;
    padding-bottom: 30px;
    /*font-size: 3vmin;*/
    transition: all 1s ease;
    position: static;
  }
  #teamBtn, #missionBtn {
    margin-top: 10px;
  }
}

.container li > p  {
  margin: 10px;
  color: #000;
}
