<div class="container">

      <h3 class="headline">About Us:</h3>
      <p>Zathom is something new.</p>

      <p>You can begin by thinking of us as a combination of a writing catalyst, microfiction literary journal, and social media platform – but when the sum of these parts is expressed, we are something different than any of those things.</p>

      <p>Where writing is usually a solitary pursuit, Zathom encourages you to share your work and collaborate with other writers. Where a literary journal only publishes work that its editors choose, Zathom will allow any user to publish their work on our site, and our editors will then choose popular, striking, exciting, or unique stories and authors to feature (from both this pool, and via invitation). Where social media platforms are about sharing your opinions, mood, actions, thoughts, location, photos, etc., Zathom is about creating and collaborating.</p>

      <p>At Zathom you will use the Fathoms to write 55 word stories, but our goal is to give you more than that. We want to foster an environment where you will be inspired to call down the Muse, to embrace the unexplored areas of your psyche, and curate a community where connections are forged from the inside out.</p>

      <p>Zathom is a place where we all come together to create stories – and at Zathom, we believe stories have the power to change the world.</p>
    <br>
    <h3 class="headline">Our Philosophy:</h3>

    <p>We are a community of language lovers, wordsmiths, and storytellers. We embrace diversity in all forms, free-thinking, free-speech, speaking your truth, and finding freedom in short bursts of narrative. We encourage respectful discourse, constructive criticism, and honoring each other's differences.</p>

    <p>We embrace the vast narrative that exists in what is not said. Microfiction reveals a microcosm of meaning. We ask our members to step into the void, read beyond the words, explore the subtext, and inhabit the landscape beyond.</p>

    <p>Specifically, we ask that you be aware that microfiction requires a depth of interpretation beyond what is required in traditional narratives. When writing, understand that you will likely say more outside the narrative than you will inside it. When reading, take the time to immerse yourself in a story and absorb the nuances that will present themselves.</p>

    <p>When we inhabit a safe space and enforce the boundaries of short forms and the Fathoms, we can become free from cliché, from bad writing habits, from repetitive thought patterns, and from writer's block. From structure, comes freedom.</p>

    <h3 class="headline">Community Guidelines:</h3>

    <p>We do not allow abuse, bullying, or hateful conduct of any kind. Zathom reserves the right to determine what we consider to be hateful conduct, including but not limited to: violent threats, stalking behavior, or hate speech.</p>

    <p>Zathom does not discriminate based on race, religion or lack thereof, ability, education, sexual orientation, gender, or genre. While we celebrate efforts to illuminate or eliminate cultural blind spots using humor, satire, and irony, we commit to preserving Zathom as a safe space for all storytellers.</p>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> -->
            <div id="mc_embed_signup">
                <form action="//zeit-geist.us15.list-manage.com/subscribe/post?u=698c15ef542f9768790975c14&amp;id=b6fbb4bd0e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL">Join the Zathom Community</label><br>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_698c15ef542f9768790975c14_b6fbb4bd0e" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Join Now" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a ng-href="#/"><button id="homeBtn" type="button" name="button">Home</button></a>
</div>
