<div class="flexCenter">
<h4>Dear Writers, <br><br>

We are excited to introduce to you a brand new literary platform for writers and readers alike. <span class="fathomColors">Zathom</span>, the brainchild of Francisco Orvanaños, a literary app for smartphones, tablets, and computers designed to inspire users to write (and read!) pieces of microfiction using very specific constraints. (Think: Twitter meets writing prompt meets literary journal meets writing game.) A safe haven for writers and readers alike, <span class="fathomColors">Zathom</span> is a place for writers to play and push themselves.
<span class="fathomColors">Zathom</span> is now seeking submissions for our official launch this fall.
<br><br>

Writers will be paid $10.00 (via PayPal) for each story accepted for publication. Work will be read blindly by our editorial staff.
<br><br>

The guidelines are simple: stories must be 48-55 words long, and they must use 3 words, called "<span class="fathomColors">Fathoms</span>," from the lists below. We have two types of <span class="fathomColors">Fathoms</span>: <span class="fathomColors">Regular</span> and <span class="seasonalColors">Seasonal</span>. You must use two  <span class="fathomColors">Regular Fathoms</span> and one <span class="seasonalColors">Seasonal</span> per story. You can submit as many stories as you’d like.
<br><br>

We are looking for compelling, innovative, and original narratives—in short, stories that inspire and change us as readers. “Microfiction,” “flash fiction,” “sudden fiction,” “nanofiction,” “quick fiction,” “drabble,” or “short-shorts” (or whatever you want to call it); writing which places emphasis on language while still relying on elements of fiction (plot, character development, setting, action, etc.). Often, we think, the best microfiction is dark and edgy, pivoting on what is not said. While this is not a literary contest (though we do plan on hosting many in the future), it is a competitive space, and we will only accept and pay for the best work.
<br><br>

<strong>Note:</strong> You might have received a Call for Submissions from one of our editors with a shorter list than this one. If you want to use this list too, that's great. We are simply trying to get a wide range of stories using as many of the <span class="fathomColors">Fathoms</span> as possible.</h4>
<br>
  <span class="increaseFont">
    <span class="fathomColors" style="text-align: center;">Regular Fathoms</span> (choose 2 per story):
    <span style="text-align: left;"><br><br>Zombie, Mask, Alien, Robot, Demon, Kingdom, Lipstick, Rainbow, Basement, River, Scissors, Crystal-ball, Cherub, Mirror, Wheatfield, Pajamas, Slice, Dolphin, Princess, Roar, Wallpaper, Pop-star, Island, Reaper, Caveman, Camouflage, Crumbs, Garden, Panther, Heroine, Dragon, Tourist, Swallow, Teddy-bear, Invert, Snake, Vessel</span>
  </span>
  <br>
  <span class="increaseFont">
    <span class="seasonalColors">Seasonal Fathoms</span> (choose 1 per story):
    <span style="text-align: left;"><br><br>Genesis, Spring, Deliver, Egg, Zero, Plot, Newborn, Incubate, Blank slate, Debut, Nest, Trail, Gun, Ferment, Sapling, Dawn, Rabbit, Kindling, Crescent, Tattoo, Plastic wrap, Wand, Virgin, Clamp, Mermaid, Initiate, Spark, Print, Forgot, Stand, Dig, Name, Knife, Circle, Stitch, Grave, Bloom, Shadow, Nude, Dream, Cauldron, Apple, Coffee, Sip, Cord, Accordion, Thread, Stairs, Ladder, Crack, Cocoon, Tear, Rain, Flood, Splinter, Blind date, Road trip, Unfold, Flush, Blush, White canvas</span>
  </span>
<br>Example stories: <br>

<h4>As the storyteller scattered <span class="fathomColors">crumbs</span> throughout the <span class="fathomColors">garden</span>, the vegetation turned <span>black-and-white</span>. The pink roses washed out, and the once-green thorns turned even more sinister as silhouettes. To test her skills, she took her <span class="fathomColors">scissors</span> from her apron pocket and cut off a bloom. In her palm, the dead head blushed pink again. (53 words long) <br><br>

The <span class="fathomColors">tourist</span> threw her <span class="fathomColors">lipstick</span> into the Ganges <span class="fathomColors">River</span>, vowing to never wear makeup again. She visited the Kali temple, contemplated a funeral pyre, and gave a swami all her cash. Flying back to Michigan a week later, she got her nails done in the airport salon before hunting down her Lexus on Level 4. (55 words long) <br><br>

She appears before me in the <span class="fathomColors">mirror</span>. Her hair is teased, blonde, and big. She wears denim, gold hoop earrings, and a <span class="fathomColors">rainbow</span> crystal <span class="fathomColors">dolphin</span> charm. I turn my head, and no one's there. When I look back in the <span class="fathomColors">mirror</span>, she mouths the words “I've got you.” (48 words long) <br>  <br>

Samantha was through with being a <span class="fathomColors">zombie</span>. Instead of <span class="fathomColors">swallowing</span> the Blue Dream pills, she'd hide them between her upper teeth and gums until the guard left her cell. To fight The <span class="fathomColors">Kingdom</span>,
she'd have to learn how to feel again. The Rainbow Resistance forces would arrive one month from now. She'd be ready. (54 words long) <br><br>

Clementine found she didn’t require a <span class="fathomColors">crystal-ball</span> but just a <span class="fathomColors">mirror</span> and the <span class="fathomColors">wallpaper</span> in her new kitchen. If she looked at the wall using her <span class="fathomColors">mirror</span>, she could see the future. She saw a corridor and many doors. When she peered into one of the rooms, she saw herself surrounded by white cushioned walls. (55 words long) <br><br>(<strong>Note:</strong> multiword Fathoms like “crystal-ball” will only count as one word within the app. Please do the same in the word counts for your stories.) <br><br></h4>

The fine print:

<h4>Each story must be 48-55 words long, using 2  <span class="fathomColors">Regular Fathoms</span> & 1 <span class="seasonalColors">Seasonal Fathom</span> from the lists provided. (However, if you submit more than one story, you can use those <span class="fathomColors">Fathoms</span> again. Want to write four shorts about the same demon? Great!) <br><br>

Do not submit stories generated for this launch to any other publications, including your own websites or social media platforms. If we accept your work for publication, rights will revert back to you after the initial launch. Payments will be made upon acceptance of the piece(s) via PayPal. <br><br>

To submit, please respond to this email with your stories attached in Word doc or docx format. Multiple stories can be in one document, so long as they are clearly differentiated. Please mark the <span class="fathomColors">Fathoms</span> in <strong>bold</strong> and include the word count in parenthesis at the end of each story (as in the above example stories). Your name and address should not appear on the document (we will read submissions blindly); please do include contact information and the number of stories you’ve submitted in your email. <br><br>

Please feel free to share this call with any writers in your community. The more the merrier! <br><br>

Submission period begins August 14th and ends September 8th. <br><br>

If you have any further questions or concerns, please contact us by email. Thank you for your time and interest in <span class="fathomColors">Zathom</span>. <br><br><br>

<span style="font-size: 1.2em; text-align: left;">Sincerely,<br><br>

Sarah Schantz, Co-Founder & Editor-in-Chief <br><br>
<a href="mailto:sarah.schantz@zathom.com"><i class="fa fa-envelope" aria-hidden="true"> Email</i></span></h4>
  <a ng-href="#/"><button id="homeBtn" type="button" name="button">Home</button></a>
</div>
