<div class="container-fluid text-center meet">
    <br><br><br>
    <h1 class="headline">Meet The Editorial Team <i class="fa fa-pencil" aria-hidden="true"></i></h1>
    <div class="meet">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="name">SARAH ELIZABETH SCHANTZ</h3>
                <h5 class="role">Co-Founder <br> & Editor-in-Chief</h5>
                <h6 class="email"><a href="mailto:sarah.schantz@zathom.com"><i class="fa fa-envelope" aria-hidden="true"></i>
              Contact for a call for submission</a></h6>
                <div class="text-center">
                    Sarah Elizabeth Schantz literally grew up in a bookstore in Boulder, Colorado. Her novel, <em>Fig</em>, debuted from Simon & Schuster and was selected by NPR as a Best Read of 2015 before winning the 2016 Colorado Book Award. She
                    is a two-time Pushcart Prize nominee and her award-winning short fiction and essays have been widely published by literary journals such as, but not limited to <em>The Los Angeles Review</em>, <em>Third Coast</em>, and <em>Midwestern Gothic</em>.
                    She currently lives in an old farmhouse on the outskirts of Boulder where she is surrounded by open sky, century-old cottonwoods, and coyote. She teaches literature and creative writing at Front Range Community College and runs
                    her own private workshop series, (W)rites of Passage. For more information about Schantz herself please visit: <a href="https://www.SarahElizabethSchantz.org">www.SarahElizabethSchantz.org</a> and for more information regarding her seasonally-inspired workshops please visit: <a href="http://www.WritesofPassage.org">www.WritesofPassage.org</a>.
                </div>
            </div>
            <!-- <div class="col-sm-4">
                <h3 class="name">MAIREAD CASE</h3>
                <h5 class="role">Assistant Editor</h5>
                <h6 class="email"><a href="mailto:mairead.case@zathom.com"><i class="fa fa-envelope" aria-hidden="true"></i>
              Contact for a call for submission</a></h6>
                <div class="text-center">
                    Mairead Case is a working writer in Colorado. She is a PhD student at the University of Denver, the Summer Writing Program Coordinator at Naropa, a legal observer, and a writing teacher at DU, Naropa, and the Denver women's jail. Before Colorado Mairead
                    lived in Chicago for a decade, where she worked at the Poetry Foundation, the Neighborhood Writing Alliance, and the Public Media Institute, among other places. Mairead is the author of the novel <em>See You In
                the Morning</em> (featherproof) and the poetry chapbook <em>Tenderness</em> (Meekling Press). Her website is <a href="http://maireadcase.tumblr.com/">maireadcase.tumblr.com</a>.
                </div>
            </div> -->
            <div class="col-sm-4">
                <h3 class="name">TONI OSWALD</h3>
                <h5 class="role">Creative Consultant <br> & Assistant Editor</h5>
                <h6 class="email"><a href="mailto:toni.oswald@zathom.com"><i class="fa fa-envelope" aria-hidden="true"></i>
              Contact for a call for submission</a></h6>
                <div class="text-center">
                    Toni Oswald is a writer, musician, performer, filmmaker, and visual artist,who currently lives in Boulder, Colorado with her partner Max Davies and their cat Kiki Pamplemousse Fontaine. Her work has been shown in Los Angeles, Amsterdam, and New York.
                    She has performed across the United States and Europe with the punk rock performance-art theater group Theater Carnivale, as well as with musicians and performers such as Anne Waldman, John Frusciante, Max Davies, Ambrose Bye,
                    Johanna Went, Thurston Moore, Josh Klinghoffer, Cecilia Vicuña, River Phoenix, Junior Burke, Stephen Holman, and Spike Jonze, among others. Her work has been published in magazines here and abroad, and her books include the graphic
                    novel <em>A Loveletter to the Transformer</em> and a poetry collection <em>Things Are Much Stranger Than We Had Imagined</em>. She is currently working on a novel about a fourteen-year-old girl clown set
                    in the 1950's, entitled <em>Lonesome in A False World</em>. You can also find her musical altar ego, The Diary of Ic Explura, on Bandcamp.
                </div>
            </div>
            <div class="col-sm-4">
              <h3 class="name">JADE LASCELLES</h3>
              <h5 class="role">Assistant Editor</h5>
              <h6 class="email"><a href="mailto:jade.lascelles@zathom.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                Contact for a call for submission</a></h6>
                <div class="text-center">
                  Jade Lascelles is a poet, editor, and letterpress printer currently based in Boulder, Colorado. She serves as Editor-in-Chief of the Naropa University literary journal <em>Bombay Gin</em>, and is a founding member and editor at
                  the Precipice publishing collective. In addition to a career in editing, she teaches courses on writing and small press publishing and manages the Harry Smith Print Shop at Naropa. She holds an MFA in Writing and Poetics, and her
                  work has been featured in publications such as Gesture and Periodical. Her manuscript, <em>Proximate Seams</em>, and a co-edited anthology from Precipice are both forthcoming.
                </div>
              </div>
        </div>
        <div class="row">
            <div class="col-sm-4 bottomEdits">
                <h3 class="name">ERIN JENDRAS</h3>
                <h5 class="role">Assistant Editor</h5>
                <h6 class="email"><a href="mailto:erin.jendras@zathom.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                Contact for a call for submission</a></h6>
                <div class="text-center">
                    Erin Jendras writes speculative fiction, horror, and magical realism. She has been published in Cicada magazine, the <em>Not Your Average Monster Anthology</em>, several online journals, and in 2007 she received a fellowship award
                    to the Vermont Studio Center for her fiction and poetry. When Erin isn’t writing or reading, you can find her drinking copious amounts of coffee, enjoying the Rocky Mountain Wilderness, and mothering a tiny human who is more fantastic
                    and miraculous than any of the creatures she writes about. For more information about Erin, please visit <a href="https://www.linkedin.com/in/erinjendras">www.linkedin.com/in/erinjendras</a>.
                </div>
            </div>
            <div class="col-sm-4 bottomEdits">
                <h3 class="name">ISABEL PHELPS</h3>
                <h5 class="role">Intern</h5>
                <h6 class="email"><a href="mailto:isabel.phelps@zathom.com"><i class="fa fa-envelope" aria-hidden="true"></i> Contact for a call for submission</a></h6>
                <div class="text-center">
                    Isabel Geary Phelps is a writer and a native to Boulder CO. She is currently working on a novel.
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> -->
            <div id="mc_embed_signup">
                <form action="//zeit-geist.us15.list-manage.com/subscribe/post?u=698c15ef542f9768790975c14&amp;id=b6fbb4bd0e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL">Join the Zathom Community</label><br>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_698c15ef542f9768790975c14_b6fbb4bd0e" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Join Now" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a ng-href="#/"><button id="homeBtn" type="button" name="button">Home</button></a>
</div>
