<div class="container-fluid text-center center-block home">
  <div class="logoHeaders">
    <div class="logoMove">
      <h1 class="logo">{Zathom}</h1>
    </div>
    <div id="btnRows" class="row">
      <div class="col-sm-4">
        <a ng-href="/#/fathoms" style="color: #DAA520;">
          <button id="whoBtn">
            < Fathoms >

          </button></div><br><br>
        </a>
      <div class="col-sm-9">
        <a ng-href="/#/about" style="color: white">
          <button id="missionBtn">
            < What <br>We Do >
          </button></div><br>
        </a>
      <div class="col-sm-4">
        <a ng-href="/#/editors" style="color: white">
          <button id="teamBtn">
              < The <br>Editors >
          </button></div><br><br>
      </a>
      <!-- <div class="col-sm-12">
        <a ng-href="/#/call" style="color: white">
          <button id="callBtn">
              < Call for <br>Submissions >
          </button>
      </a>
      </div> -->
      <div class="col-sm-12">
        <a ng-href="/#/signup" style="color: white">
          <button id="formBtn">
              < Sign up >
          </button>
      </a>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-muted"><a ng-href="/#/terms">Terms of Use</a> & <a ng-href="/#/privacy">Privacy Policy</a></span>
    </div>
  </footer>
</div>
