<div class="container-fluid text-center center-block home">
  <div class="logoHeaders">
    <div class="logoMove">
      <h1 class="logo">{Zathom}</h1>
      <h4 class="comingSoon">Coming Soon</h4>
    </div>
    <div id="btnRows" class="row">
      <div class="col-sm-4">
        <button id="whoBtn">
          <a ng-href="/#/fathoms" style="color: #DAA520;">< Fathoms ></a>

        </button></div><br><br>
      <div class="col-sm-9">
        <button id="missionBtn">
          <a ng-href="/#/about" style="color: white">< What <br>We Do ></a>
        </button></div><br>
      <div class="col-sm-4">
        <button id="teamBtn">
          <a ng-href="/#/editors" style="color: white">
            < The <br>Editors >
          </a>
        </button></div><br><br>
      <div class="col-sm-12">
        <button id="formBtn">
          <a ng-href="/#/signup" style="color: white">
            < Sign up >
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
