<div class="container-fluid text-center center-block home">
  <div class="logoHeaders">
    <div class="logoMove">
      <h1 class="logo">{Zathom}</h1>
      <h4 class="comingSoon">Coming Soon</h4>
    </div>
    <div id="btnRows" class="row">
      <div class="col-sm-4">
        <a ng-href="/#/fathoms" style="color: #DAA520;">
          <button id="whoBtn">
            < Fathoms >

          </button></div><br><br>
        </a>
      <div class="col-sm-9">
        <a ng-href="/#/about" style="color: white">
          <button id="missionBtn">
            < What <br>We Do >
          </button></div><br>
        </a>
      <div class="col-sm-4">
        <a ng-href="/#/editors" style="color: white">
          <button id="teamBtn">
              < The <br>Editors >
          </button></div><br><br>
      </a>
      <div class="col-sm-12">
        <a ng-href="/#/signup" style="color: white">
          <button id="formBtn">
              < Sign up >
          </button>
      </a>
      </div>
    </div>
  </div>
</div>
